/* 
    Document   : appd_
    Created on : Dec 5, 2014, 5:50:32 AM
    Author     : gilbert.solorzano
    Description:
        Purpose of the stylesheet follows.
*/

tr { cursor: default;}
.highlight {background: yellow;}

