/* 
    Document   : sytle
    Created on : Nov 8, 2014, 12:05:16 PM
    Author     : gilbert.solorzano
    Description:
        Purpose of the stylesheet follows.
*/

.col1{
    background: #5C7080;
}

.col2{
    background: #6BC0FF;
}
